#
# project specific stuff
#
bin
.builder
clang
releases
bug_reports
*.o
intermediate
compile_commands.json

# ignore tools folder, but dont ignore 7zip
tools/*
!tools/7zip_win64

# ignore test files
tests/**/*.exe
tests/**/*.ilk
tests/**/*.pdb
tests/**/*.sln
tests/**/*.vcxproj
tests/**/*.vcxproj.user
tests/**/*.vcxproj.filters
!tests/tests.vcxproj
!tests/tests.vcxproj.filters


#
# visual studio stuff
#
.vs
x64
*.vcxproj.user


#
# rider stuff
#
.idea


#
# zed stuff
#
.zed
Builder.raddbg_project
Builder.10x
